h1 {
    text-align: center;
}

#main {
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    gap: 50px;
}

#rightSpace {
  padding-left: 50px;
}
#rightSpace, #buttons {
    flex-grow: 1;
    flex-basis: 0;
}


#sizeBtns, #toolBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#toolBtns {
  flex-grow: 1;
}

#clearBtn {
  margin-top: auto;
}


#gridContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-shadow: 0px 0px 8px 2px lightgrey;
    border-radius: 1px;
    width: 600px;
    height: 600px;
    margin: auto;
    flex-wrap: wrap;
}

.rowContainer {
    display: flex;
    flex-grow: 1;
}

.gridDiv {
   aspect-ratio: 1 / 1;
   flex-grow: 1;
   background-color: black;
}

.button {
  width: 130px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.241);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  text-decoration: none;
  transition: all 75ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnSelect {
  width: 130px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.514);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  text-decoration: none;
  transition: all 75ms;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0.514);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.85);
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.rainbow {
  width: 130px;
  border: 2px solid white;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.233) 0 4px 12px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  text-decoration: none;
  transition: all 75ms;
  background: linear-gradient(60deg,
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(360, 100%, 50%)
  );
}